{% extends 'base.html' %}

{%block content %}
<div class="container">
    <h1>Listagem de posts</h1>
    <ul>
        {% for post in posts %}
            <li><a href="{% url 'post_details' post.id %}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}